@font-face {
    font-family: heroic;
    src: url(./Heroic.ttf);
}
@font-face {
    font-family: adellesans;
    src: url(./adellesans.ttf);
}
body {
    display: block;
    margin: 0px;
}

.page {
	display: inline-block;
}
.header {
	background-color: black;
	display: block;
	width: 100%;
	align-items: center;
	min-height: 35px;
	float: left;
}

.header__logo {
	width: 70%;
	display: inline-block;
	line-height: 1;
}
.header__logo__container {
	display: inline-block;
    margin-left: 16px;
    padding: 8px 0;
    position: relative;
    width: auto;
}
.thevergesvg {
	height:25px;
	max-width: 150px;
}

.header__userlogo {
	float: right;
	width: 30%;
	vertical-align: middle;
	margin-top: 3.7px;
	display: inline-block; 
}
.header__userlogo__container {
	height: 35px;
    line-height: 35px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 48px;
    float: right;
}
.userlogosvg {
	fill: #ffffff;
    height: 16px;
    position: relative;
    top: -2px;
    width: 16px;
    vertical-align: middle; 
    margin-top: 9px;
}
.header__navbar {
	float: none;
	border-bottom: 1px solid #333333;
	
}
ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}
li {
	float:left;
	width: 25%;
	border-left: 1px solid #333333;
	box-sizing: border-box;
}

li a {
    display:inline-block; 
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .05em;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    cursor: pointer;
    font-family: heroic;
}

li a:hover {
    color: #d9d9d9;
}
.header__navbar__arrow {
	height: 7px;
    width: 7px;
    display: inline-block;
    margin-left: 4px;
}



.stories-black {
    width: 100%;
    background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
    display: block;
    float: left;
    border-bottom: 1px solid black;
    margin: 0 auto;
    max-width: 1300px;
    padding: 1px;
}

.stories-black__story {
    background: #000000;
    color: #ffffff;
    margin-bottom: 1px;
    padding: 8px;
        overflow: auto;
}

.stories-black__story__inner__text {
   width: 65%;
    display: inline-block;
    text-align: center;
    margin-left: -4px;
    vertical-align: top;
    font-size: 1.2em;
    font-family: adellesans;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.2;
    float:right;
    box-sizing: border-box;
    
}
.stories-black__story__inner__pic {
	display: inline-block;
	width: 30%;
}
.image {
	    width: 100%;
}

.stories-black__story__inner__text__big {
	color: white;
    text-decoration: none;
    display: block;
    text-align: start;
}

.author {
	width: 100%;
    text-align: start;
    display: inline-block;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: normal;
    
    font-size: 0.75em;
}
.by {
	margin: 0px;
    display: inline-block;
    
    float: left;
}
.stories-black__story__inner__text__small {
	text-decoration: none;
    color: #e5127d;
    float: left;
    margin-left: 9px;
}
.s2 {
	font-weight: 600;
    letter-spacing: normal;
    font-size: .8em;
}
.s2__title {
	font-size: .9em;
    margin-bottom: .3rem;
}


